<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Hermes.Core" version="0.2.20-TestBuild" targetFramework="net45" />
  <package id="Messaging.Contracts" version="1.0.7" targetFramework="net45" />
</packages>