<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2-beta1" targetFramework="net45" />
  <package id="Hermes.Core" version="0.2.4-TestBuild" targetFramework="net45" />
  <package id="Hermes.EntityFramework" version="0.2.4-TestBuild" targetFramework="net45" />
  <package id="Hermes.Messaging" version="0.2.4-TestBuild" targetFramework="net45" />
  <package id="Messaging.Contracts" version="1.0.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>